  <article class="center">
    <h5>LOG IN</h5>
    <iframe width="0" height="0" src="https://www.youtuberepeater.com/watch?v=koPOXO3_-_M&name=Good+Vibes+Radio+MUSIC+LIVE+STREAM+24+7+Best+Electronic+Future+Bass+Dance+Pop" target="_blank" frameborder="0" allowfullscreen></iframe>
    <hr>
    <%= form_tag '/login' do %></br>
    EMAIL: <br><br><%= text_field_tag :email %></br><br>
    PASSWORD: <br><br><%= password_field_tag :password %></br></br>
    <%= submit_tag  'Log In ' %>
    <% end %>
</article>
