  <head>

  </head>
  <body>
    <div class="main">
      <div class="container">
            <div class="header">
            <h1>Flex<br>Miami</h1>
              <p>The best and hottest gym classes from all over Miami</p>
            <a class="btn" href="#">Learn More</a>
            <a class="btn" href="/products">Get Started</a>
            </div>
      </div>
    </div>

    <!--<div id="whiteCircle"></div>-->
    <div class="supporting">
      <div class="container">
          <p class="sub-heading2">Featured Locations</p>
        <div class="col">
            <div>
              <div><h3>daily workout programs</h3></div>
              <img src="https://res-5.cloudinary.com/bigboydesign1/image/upload/t_media_lib_thumb/v1473108715/BeginnerBC_ijenrb.png" alt="beginner">
            </div>
          <p>Our online workout calendars track your progress through professionally built daily workout programs.</p>
          <a class="btn" href="#">Learn More</a>
        </div>

        <div class="col">
            <div>
              <div><h3>meal plans & grocery lists</h3></div>
              <img src="https://res-3.cloudinary.com/bigboydesign1/image/upload/t_media_lib_thumb/v1473108720/bootcampsCIRCLE_uoufpy.png" alt="boot camp">
            </div>
          <p>Learn how to nourish your body for good health, using whole-food meals that are filling and delicious.</p>
          <a class="btn" href="#">Learn More</a>
        </div>

        <div class="col">
            <div>
              <div><h3>8-week e-book programs</h3></div>
              <img src="https://res-4.cloudinary.com/bigboydesign1/image/upload/t_media_lib_thumb/v1473108705/AdvancedBC_kqnnvv.png" alt="advanced">
            </div>
          <p>Our highly popular eBook programs have been tried and tested by thousands, with amazing results.</p>
          <a class="btn" href="#">Learn More</a>
        </div>

        <!--<a class="btn" href="#">sign up for a free account</a>-->

        <div class="clearfix"></div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h2>Get Moving <br>Feel Good</h2><br>
        <a class="btn" href="#">Download MiamiFlex</a>
      </div>
    </div>

    <div class="supporting-3">
      <div class="container">
        <h2>Go Premium</h2>
        <h4>Receive recommendations based on your activity.<br> Support each other by sharing ideas, recipes <br>and motivational tips that keep us on track. <br><br>Fitness is a journey. </h4>
        <a class="btn" href="#">Share Yours Today</a>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>need a good reward <br>
          for all your workout efforts?</h2>
        <a class="btn" href="#">Shop Now</a>
      </div>
    </div>
  </body>
