/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
	This css applies for /charges, /charges/new and /products as well.
*/
/* body {
  overscroll-behavior-y: none;
} */

body
{
    padding-top: 40px;
}
/* Navigation Bar */
header, a, img, li{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}

/* Basic layout */
span.left {
  float: left;
  display: block;
  width: 25%;
  padding-left: 10px;
  font-size: 44px;
}

ul{
  list-style-type: none;
  float: right;
}

li{
  display: inline;
  float: left;
}



nav{
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 40px;

}

header{
  float: left;
  width: 100%;
  position: fixed;
  z-index: 10;
}

  header a{
    color: #969696;
    text-decoration: none;
  }

  header a.active, header a:hover{
    color: #3d3d3d;
  }

  header li{
    margin-right: 30px;
  }

  /* Sizes for the bigger menu */
  header.large{
    height: 120px;
  }

  header.large img{
    width: 489px;
    height: 113px;
  }

  header.large li{
    margin-top: 45px;

  }


  /* Sizes for the smaller menu */
  header.small{
    height: 50px;
  }

  header.small img{
    width: 287px;
    height: 69px;
    margin-top: -10px;
  }

  header.small li{
    margin-top: 17px;
  }

/* Main */
body {
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
h1	{
color: gray;
font-family: arial, sans-serif;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: center;
font-size: 100px;
}
*{
box-sizing:border-box;
-moz-box-sizing:border-box;
}
body {
background-color: rgb(46, 64, 82);
font-family: Calluna, Arial, sans-serif;
min-height: 1000px;
}

/* this is the style for MORE */

.description {
	color: aqua;
	margin-left: 45%;

}

.descriptiontext {
	text-align: center;
	margin: 0 30%  0 30% ;
}

.productname {
	color: gray;
	font-size: 300%;
}

.review{

}

.a{
	background-color: white;

}

#wrap{
width: 90%;
max-width: 1100px;
margin: 50px auto;
}
.col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
}
.columns_2 figure{
 width:49%;
 margin-right:1%;
}
.columns_2 figure:nth-child(2){
margin-right: 0;
}
.columns_3 figure{
 width:32%;
 margin-right:1%;
}
.columns_3 figure:nth-child(3){
margin-right: 0;
}
.columns_4 figure{
 width:24%;
 margin-right:1%;
}
.columns_4 figure:nth-child(4){
margin-right: 0;
}
.columns_5 figure{
 width:19%;
 margin-right:1%;
}
.columns_5 figure:nth-child(5){
margin-right: 0;
}
#columns figure:hover{
-webkit-transform: scale(1.1);
-moz-transform:scale(1.1);
transform: scale(1.1);

}

div#columns figure {
display: inline-block;
background: #FEFEFE;
border: 2px solid #FAFAFA;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
margin: 0 0px 15px;
-webkit-column-break-inside: avoid;
-moz-column-break-inside: avoid;
column-break-inside: avoid;
padding: 15px;
padding-bottom: 5px;
background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
opacity: 1;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

div#columns figure img {
width: 100%;
border-bottom: 1px solid #ccc;
padding-bottom: 15px;
margin-bottom: 5px;
}

div#columns figure figcaption {
font-size: .9rem;
line-height: 1.5;
height:60px;
font-weight:600;
text-overflow:ellipsis;
}

a.button{
padding:10px;
background:rgb(6, 138, 229);
margin:10px;
display:block;
text-align:center;
color:#fff;
transition:all 1s linear;
text-decoration:none;
text-shadow:1px 1px 3px rgba(0,0,0,0.3);
border-radius:3px;
border-bottom:3px solid black;
box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
background:#ff6536;
border-bottom:3px solid rgb(6, 138, 229);
color:#f1f2f3;
}
@media screen and (max-width: 960px) {
#columns figure { width: 24%; }
}
@media screen and (max-width: 767px) {
#columns figure { width:32%;}
}
@media screen and (max-width: 600px) {
#columns figure { width: 49%;}
}
@media screen and (max-width: 500px) {
#columns figure { width: 100%;}
}
