/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
	background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}

h1	{
color: #999999;
font-family: arial, sans-serif;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: center;
font-size: 100px;
}
