<article>
<div class="center">
<iframe width="0" height="0" src="https://www.youtuberepeater.com/watch?v=koPOXO3_-_M&name=Good+Vibes+Radio+MUSIC+LIVE+STREAM+24+7+Best+Electronic+Future+Bass+Dance+Pop" target="_blank" frameborder="0" allowfullscreen></iframe>
<h5>Thank You For Your Purchase!</h5><br>
<hr>
<h5>ENJOY YOUR CLASS!</h5>
<a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp; <a href="/products">Classes</a>&nbsp;&nbsp;|&nbsp;&nbsp;    <a href="/products">Studios</a>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Back', products_path %>   
</div>



</article>
