<article>
<div class="center">
<h5>Thank You For Your Purchase!</h5><br>
<hr>
<h5>ENJOY YOUR CLASS!</h5>
<a href="/">Home</a>       | <a href="/products">Classes</a>       |    <a href="/products">Studios</a>      |        <%= link_to 'Back', products_path %>   |     <%= link_to 'Back', products_path %>
</div>



</article>
